spring:
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=ZONAS_SEGURAS_DB;encrypt=false;trustServerCertificate=true
    username: appuser25
    password: App123Password!
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
        default_schema: PRUEBA00


server:
  port: 9091

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
